.hero_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 88dvh;
  margin: 0 auto;
  padding-top: 40px;
}

.hero_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero_title {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(var(--primary));
  font-size: 44px;
}

.hero_subtitle {
  font-family: "Instrument Serif", serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 36px;
  width: 60%;
}

.hero_description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 50%;
}

.hero_buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero_button_primary,
.hero_button_secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 24px;
  background-color: rgb(var(--primary));
  color: var(--bg);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 600;
}

.hero_button_secondary {
  background-color: transparent;
  color: rgb(var(--primary));
  border: 2px solid rgb(var(--primary));
}

.hero_image img {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width: 900px) {
  .hero_container {
    padding: 60px 0;
    gap: 24px;
  }

  .hero_title {
    font-size: 44px;
  }

  .hero_subtitle {
    font-size: 24px;
    width: 90%;
  }

  .hero_description {
    font-size: 16px;
    width: 85%;
  }

  .hero_buttons {
    gap: 10px;
    width: 100%;
  }

  .hero_button_primary,
  .hero_button_secondary {
    padding: 6px 18px;
    font-size: 14px;
  }

  .hero_image img {
    margin-top: 24px;
  }
}

@media (max-width: 600px) {
  .hero_container {
    padding: 32px 0 10px 0;
    gap: 16px;
  }

  .hero_content {
    gap: 12px;
  }

  .hero_title {
    font-size: 32px;
  }

  .hero_subtitle {
    font-size: 22px;
    width: 95%;
  }

  .hero_description {
    font-size: 14px;
    width: 95%;
  }

  .hero_buttons {
    gap: 8px;
    width: 100%;
  }

  .hero_image img {
    margin-top: 36px;
  }
}