.footer_container {
    position: relative;
    padding: 64px 128px 0 128px;
    background-color: rgba(var(--primary));
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: rgba(var(--text-secondary));
    width: 100%;
    z-index: 2;
}

.footer_text_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.footer_text_one,
.footer_text_two {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--bg);
    letter-spacing: 0.5px;
}

.footer_text_two {
    font-size: 14px;
}

.footer_socials {
    display: flex;
    gap: 24px;
}

.socials_link {
    display: inline-flex;
    cursor: pointer;
}

.footer_icon {
    width: 24px;
    aspect-ratio: 1/ 1;
}

.footer_logo {
    position: relative;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 700;
    font-size: 17.5vw;
    line-height: 0.5;
    user-select: none;
    color: var(--bg);
    opacity: 50%;
    z-index: 1;
}

/* Responsive styles for footer */
@media (max-width: 1100px) {
    .footer_container {
        padding: 56px 64px 0 64px;
        height: 380px;
    }

    .footer_text_container {
        width: 325px;
        gap: 30px;
    }

    .footer_logo {
        font-size: 19vw;
    }
}

@media (max-width: 800px) {
    .footer_container {
        padding: 48px 56px 0 56px;
        height: 330px;
    }

    .footer_content {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .footer_text_container {
        width: 80%;
        gap: 16px;
    }

    .footer_logo {
        font-size: 18vw;
    }
}

@media (max-width: 500px) {
    .footer_container {
        padding: 48px 40px 0 40px;
        height: 300px;
    }

    .footer_content {
        gap: 28px;
    }

    .footer_text_container {
        width: 90%;
    }

    .footer_text_one,
    .footer_text_two {
        font-size: 14px;
    }

    .footer_text_two {
        font-size: 13px;
    }

    .footer_socials {
        gap: 14px;
    }

    .footer_icon {
        width: 18px;
    }
}