.navbar_container {
  position: sticky;
  width: 100%;
  top: 20px;
  z-index: 5000;
}

.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 6px;
  gap: 20px;
  background-color: rgba(var(--secondary), 0.5);
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

.navbar_container img {
  user-select: none;
}

.navbar_hero_link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--primary));
  font-family: "Clash Grotesk", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 24px;
  padding: 6px 20px;
}

.navbar_link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  padding: 6px 20px;
}

.navbar_appointment_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
  border-radius: 24px;
  background-color: rgb(var(--primary));
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.navbar_appointment_link .arrow {
  width: 24px;
  transform: rotate(-45deg);
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease-in-out;
}

.navbar_appointment_link:hover .arrow {
  transform: rotate(0deg);
}

@media (max-width: 900px) {
  .navbar_container {
    position: fixed;
    top: auto;
    bottom: 20px;
  }

  .navbar_hero_link {
    font-size: 18px;
    padding: 4px 12px 4px 16px;
  }

  .navbar_link {
    font-size: 14px;
    padding: 4px 12px;
  }

  .navbar_appointment_link {
    padding: 8px 14px;
    font-size: 14px;
  }

  .navbar_appointment_link .arrow {
    width: 20px;
  }
}

@media (max-width: 600px) {
  .navbar {
    gap: 10px;
  }

  .navbar_hero_link {
    padding: 0 4px 0 10px;
  }

  .navbar_link {
    padding: 4px;
  }

  .navbar_appointment_link {
    padding: 8px 14px;
  }
}